streamlit
crewai==0.35.8
langchain==0.1.14
langchain-openai
requests
setuptools
rich==13.7.1

# Patch to avoid chromadb crash on Streamlit Cloud
# Remove embedchain manually pulled by crewai
chromadb<0.3.0
embedchain==0.0.0  # force fail resolution